spring:
  datasource:
    url: jdbc:mysql://localhost:3308/cloudyprotection
    username: root
    password: 12345
    autoconfigure:
      exclude:
        - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
        - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  jackson:
    serialization:
      indent_output: true

server:
  port: 8080

app:
  jwt:
    secret: change-me-in-prod
    expiration: 3600